* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

.navbar {
	background-color: #fff;
	padding: 0;
}

.logo img {
	max-width: 100px;
	margin-right: 20px;
	padding: 0
}

.navbar-toggler {
	border: none;
	outline: none;
}

.nav-link {
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 80px;
	transition: all .3s ease-in-out;
}

.navbar-nav {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	margin-right: -90px;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	padding: 7px;
}

.nav-link.active {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 4px;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover, .dropdown-item:hover {
	color: #d20404;
}

.dropdown-item {
	color: #333;
	font-weight: 700;
	padding: 10px 0;
	transition: all .3s ease-in-out;
}

@media (min-width: 768px) {
	.logo img {
		height: auto;
	}
}

@media (max-width: 991.98px) {
	.navbar-nav {
		position: static;
		transform: none;
		margin: 20px 0 0;
	}

	.dropdown {
		position: static;
		background-color: transparent;
		padding: 0;
	}

	.navbar-toggler {
		display: block;
	}

	.collapse {
		display: none;
	}

	.show {
		display: block;
	}

	.navbar-nav .nav-item {
		display: block;
	}

	.navbar-nav .nav-link {
		margin-right: 0;
	}
}

/* Carousel styles */
#demo {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.carousel-indicators {
	padding-bottom: 5rem;
	color: #d20404;
}

.carousel-inner {
	width: 100%;
	height: auto;
	max-width: 80%;
	margin-left: 10%;
}

.carousel-caption {
	font-family: 'Lobster', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	color: #d20404;
	background: #ccc;
	opacity: .9;
}

.wine-bar-section .wine-description{
	background-color: #f7f7f7;
	padding: 80px 0;
}

.section-title, .container h2{
	text-align: center;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: 'Lobster', sans-serif;
	color: #d20404;
}

.section-description .wine-description, .wine-description li{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
	font-family: 'Josefin Sans', sans-serif;
}

.wine-bar-image {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin-top: 30px;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.section-title, .container h2 {
	  font-size: 32px;
	}
  
	.section-description .wine-description, .wine-description li {
	  font-size: 16px;
	}
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
	.section-title, .container h2 {
	  font-size: 34px;
	}
  
	.section-description .wine-description, .wine-description li {
	  font-size: 17px;
	}
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
	.section-title, .container h2 {
	  font-size: 36px;
	}
  
	.section-description .wine-description, .wine-description li {
	  font-size: 18px;
	}
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
	.section-title, .container h2 {
	  font-size: 38px;
	}
  
	.section-description .wine-description, .wine-description li {
	  font-size: 19px;
	}
  }

/* Menu page video and wine lists styles  */

.hero {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-content {
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.hero h1 {
	font-size: 4rem;
	font-family: 'Lobster', sans-serif;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.5rem;
	margin-bottom: 40px;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 1px;
}

.wine-list {
	background-color: #f8f8f8;
	padding: 60px 0;
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Lobster', sans-serif;
	color: #d20404;
}

.wine-list .card {
	margin-bottom: 30px;
	border: none;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: all .3s ease;
	width: 100%;
	height: 350px;
	position: relative;
}

.wine-list .card .flip-card-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform .6s;
	transform-style: preserve-3d;
}

.wine-list .card .flip-card-front,
.wine-list .card .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.wine-list .card .flip-card-front {
	transform: rotateY(0deg);
}

.wine-list .card .flip-card-back {
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.wine-list .card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.wine-list .card img {
	height: 250px;
	object-fit: cover;
}

.wine-list .card-title {
	font-family: 'Lobster', sans-serif;
	color: #d20404;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.wine-list .card-text {
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
}

.wine-list .card .flip-card-back h5 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.wine-list .card .flip-card-back ul, .flip-card-back li,
.container li {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0;
	font-size: 16px;
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}


@media (max-width: 992px) {
	.wine-list .card {
		height: 400px;
	}
}

@media (max-width: 768px) {
	.wine-list .card {
		height: 450px;
	}
}

@media (max-width: 576px) {
	.wine-list .card {
		height: 350px;
	}

	.wine-list .card .flip-card-front,
	.wine-list .card .flip-card-back {
		width: 100%;
	}

	.wine-list .card .flip-card-back ul {
		font-size: 14px;
	}
}

/* Galery page, circle styles section*/
.circle-section-title h2 {
	text-align: center;
	padding: 40px;
	font-family: 'Lobster', sans-serif;
	color:#d20404;
}

.circle-list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.circle-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 70px;
}

.circle-item:last-child {
	margin-right: 0;
}

.circle-item img {
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	transition: transform .2s ease-in-out;
}

.circle-item span {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 30px;
	font-family: 'Josefin Sans', sans-serif;
}

.circle-item img:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 768px) {
	.circle-list {
		flex-wrap: wrap;
	}

	.circle-item {
		margin-right: 0;
		margin-bottom: 30px;
		width: 100%;
		max-width: 200px;
		text-align: center;
	}

	.circle-item:last-child {
		margin-bottom: 0;
	}

	.circle-item img {
		width: 100%;
		max-width: 150px;
		height: auto;
	}
}

/* Video inside the modal */
.modal-body video {
	width: 100%;
	height: auto;
  }
  
  

.image-gallery {
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.heading-text {
	margin-top: 30px;
	font-family: 'Lobster', sans-serif;
	color: #d20404;
}

.image-gallery .column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.image-item img {
	width: 100%;
	border-radius: 5px;
	height: 100%;
	object-fit: cover;
}

@media only screen and (min-width: 768px) {
	.image-gallery {
		flex-direction: row;
	}
}

.image-item {
	position: relative;
	cursor: pointer;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(57, 57, 57, 0.502);
	top: 0;
	left: 0;
	transform: scale(0);
	transition: all .2s .1s ease-in-out;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-item:hover .overlay {
	transform: scale(1);
}

.form-group {
	margin-bottom: 30px;
	margin-top: 35px;
}

label {
	font-weight: 600;
	font-size: 18px;
	color: #d20404;
	font-family: 'Lobster', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 3px;
	resize: none;
	font-size: 14px;
	color: #666;
	font-family: 'Josefin Sans', sans-serif;
}

textarea {
	height: 120px;
}
/* Map styles */
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-container {
	position: relative;
	height: 0;
	padding-bottom: 60%;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	.map-container {
		padding-bottom: 100%;
	}
}

/* Customer reviews section */
.customer-reviews {
	background-color: #f7f7f7;
	padding: 60px 0;
	margin-top: 35px;
}

.customer-reviews h2 {
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Lobster', sans-serif;
	font-weight: bold;
	color: #d20404;
}

.review {
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.review i {
	font-size: 36px;
	color: #d20404;
	margin-bottom: 20px;
	display: block;
}

.review p, .wine-description p {
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.reviewer {
	margin-top: 30px;
}

.reviewer img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.reviewer h4 {
	font-size: 18px;
	font-weight: bold;
	margin: 6px;
}

@media (max-width: 767px) {
	.review {
		padding: 20px;
	}

	.review p, .review h4 {
		font-size: 14px;
	}

	.reviewer {
		margin-top: 20px;
	}

	.reviewer img {
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}
}

/* Review Form styles */
.bg-image img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
}

.bg-image {
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}

.review-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
	max-width: 600px;
	width: 100%;
}

.review-form h2 {
	font-size: 2.5rem;
	margin-bottom: 30px;
	color: #d20404;
	font-family: 'Lobster', sans-serif;
}

.review-form label {
	font-weight: bold;
	margin-bottom: 10px;
}

.review-form button {
	margin-top: 20px;
	margin-bottom: 20px;
}


@media (max-width: 768px) {
	.review-form {
		margin-top: 30px;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}

/* Gallery buttons */
.button:hover,
.button:focus, .highlighted-button:hover {
	background-color: #000;
	color: #fff;
}

.button:focus {
	outline: none;
}

.button-container {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	gap: 30px;
}

/* Other buttons */

.highlighted-button.button-white {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.highlighted-button.button-white:hover {
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}

.btn-send:hover {
	background-color: #fff;
	color:#d20404;
}

.highlighted-button.button-review {
	display: inline-block;
}

.highlighted-button,
.btn-send {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #d20404;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid #000;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	text-decoration: none;
	height: 80px;
	width: 200px;
}

.btn.highlighted-button {
	margin-bottom: 30px;
}

.highlighted-button:hover {
	background-color: #fff;
	color: #d20404;
	border: 2px solid #000;
}

/* Footer */
footer {
	background-color: #f1f1f1;
	padding: 10px 20px;
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
  }

  .footer-social {
	margin-top: 30px; /* add margin-top */
  }
  
  
  .footer-info h3 {
	font-family: 'Lobster', sans-serif;
	color: #d20404;
	font-size: 2rem;
	margin-bottom: 20px;
  }
  
  .footer-info p {
	font-size: 1.2rem;
	margin-bottom: 10px;
  }
  
  .footer-social a {
	display: inline-flex;
	align-items: center;
	margin-right: 20px;
	text-decoration: none;
  }
  
  .footer-social a i {
	margin-right: 5px;
  }
  
  .footer-social i {
	font-size: 2rem;
	color: #333;
	transition: all .3s ease-in-out;
  }
  
  .footer-social i:hover {
	color:#d20404;
  }
  
  .footer-copyright {
	position: absolute; 
	margin-top: 20px; 
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
  }

  /* Breakpoint for 1015px or below */
@media screen and (max-width: 1015px) {
	footer {
	  flex-direction: column;
	}
  
	.footer-info,
	.footer-social {
	  text-align: center;
	  margin-bottom: 20px;
	}
  
	.footer-info h3 {
	  font-size: 1.75rem;
	  margin-bottom: 10px;
	}
  
	.footer-info p {
	  font-size: 1.1rem;
	  margin-bottom: 5px;
	}
  
	.footer-social a {
	  margin-right: 15px;
	}
  
	.footer-social i {
	  font-size: 1.75rem;
	}
  
	.footer-copyright {
	  position: absolute; 
	  margin-top: 20px; /* Add margin top */
	}
  }
  
  @media screen and (max-width: 767px) {
	footer {
	  flex-direction: column;
	  align-items: center;
	}
  
	.footer-info,
	.footer-social,
	.footer-book {
	  text-align: center;
	  margin-bottom: 20px;
	}
  
	.footer-info h3 {
	  font-size: 1.5rem;
	  margin-bottom: 10px;
	}
  
	.footer-info p {
	  font-size: 1rem;
	  margin-bottom: 5px;
	}
  
	.footer-social a {
	  margin-right: 10px;
	}
  
	.footer-social i {
	  font-size: 1.5rem;
	}
  
	.footer-book .btn {
	  font-size: 1rem;
	  padding: 5px 10px;
	}
  }