/* General styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  
  ul {
	list-style: none;
  }
  


/* Navbar styles */
.navbar {
	background-color: #fff;
	padding: 20px 0;
}

.navbar-brand img {
	max-width: 150px;
	height: auto;
	margin-right: 20px;
	padding: 0;
}

.navbar-toggler {
	border: none;
	outline: none;
}

.nav-link {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 20px;
	transition: all 0.3s ease-in-out;
}

.nav-link:hover {
	color: #f00;
}

.navbar-nav {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	margin-right: -90px;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	padding: 10px;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
	color: #f00;
}

.dropdown-item {
	color: #333;
	font-weight: bold;
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
}

.dropdown-item:hover {
	color: #f00;
	background-color: #f1f1f1;
}

@media (max-width: 991.98px) {
	.navbar-nav {
		position: static;
		transform: none;
		margin: 20px 0 0;
	}
	
	.dropdown {
		position: static;
		background-color: transparent;
		padding: 0;
	}
	
	.navbar-toggler {
		display: block;
	}
	
	.collapse {
		display: none;
	}
	
	.show {
		display: block;
	}
	
	.navbar-nav .nav-item {
		display: block;
	}
	
	.navbar-nav .nav-link {
		margin-right: 0;
	}
}
  

/*-----------Carousel--------*/
#demo {
	padding-top: 5rem;
	padding-bottom: 5rem;
}   

.carousel-indicators {
padding-bottom: 5rem;
color: rgb(242, 5, 5);

}   

.carousel-inner {
width: 100%;
height: auto;
max-width: 80%;
margin-left: 10%;
}

.carousel-caption {
font-family: 'Lobster', sans-serif;
font-size: 30px;
letter-spacing: 2px;
color:rgb(242, 5, 5);
background: #cccccc;
opacity: 0.9;

}

/* Wine Bar section */
.wine-bar-section {
	background-color: #f7f7f7;
	padding: 80px 0;
  }
  
  .section-title {
	font-size: 36px;
	margin-bottom: 30px;
  }
  
  .section-description {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
  }
  
  .button-container {
	display: flex;
	margin-bottom: 50px;
	justify-content: center; 
    gap: 30px; 
  }
  
  .button {
	display: inline-block;
	padding: 12px 30px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	background-color: #f7f7f7;
   color: #000;
   border: 2px solid #000;
   transition: background-color 0.3s ease, color 0.3s ease;
   width: 200px;
}
  
  
  .button-red {
	background-color: #d43f3a;
	color: #fff;
	margin-right: 20px;
  }
  
  .button-white {
	background-color: #f7f7f7;
	color: #000;
  }
  
  .wine-bar-image {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin-top: 30px;
  }

.button:hover,
.button:focus {
  background-color: #000;
  color: #fff;
}

.button:focus {
  outline: none;
}
  
  

  /* Hero section styles */
  .hero {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .hero video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
  }
  
  .hero-content {
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px #000;
  }
  
  .hero h1 {
	font-size: 4rem;
	font-family: 'Lobster', cursive;
	margin-bottom: 20px;
  }
  
  .hero p {
	font-size: 1.5rem;
	margin-bottom: 40px;
  }
  
  /* Card section styles */
  .cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 60px 0;
  }
  
  .card {
	width: 300px;
	height: 400px;
	margin: 20px;
	perspective: 1000px;
  }
  
  .card .card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
	transform: rotateY(180deg);
  }
  
  .card .card-front,
  .card .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }
  
  .card .card-front {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .card .card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .card .card-back {
	background-color: #f00;
	color: #fff;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
  }
  
  .card h3 {
	font-size: 2rem;
	margin-bottom: 20px;
  }
  
  .card ul {
	font-size: 1.2rem;
	margin-bottom: 20px;
  }
  
  .card ul li {
	margin-bottom: 10px;
  }
  

/* Responsive image gallery*/
  
.image-gallery {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
  
  .image-item {
    position: relative;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-item:hover .overlay {
    transform: scale(1);
  }

/* Contact Form */

.form-group {
	margin-bottom: 20px;
  }
  
  label {
	font-weight: 600;
	font-size: 16px;
	color: #4c4c4c;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 3px;
	resize: none;
	font-size: 14px;
	color: #666;
  }
  
  textarea {
	height: 120px;
  }
  
  .btn-send {
	background-color: #2ecc71;
	color: #fff;
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btn-send:hover {
	background-color: #27ae60;
  }
  
  /* Map */
  
  .map-container {
	position: relative;
	height: 0;
	padding-bottom: 60%; /* Adjust this value to change the map height */
	overflow: hidden;
	margin-bottom: 30px;
  }
  
  #map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  @media screen and (max-width: 768px) {
	.map-container {
	  padding-bottom: 100%;
	}
  }
  
  

/* Footer styles */
footer {
	background-color: #f1f1f1;
	padding: 40px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-info h3 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.footer-info p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.footer-social a {
	margin-right: 20px;
}

.footer-social i {
	font-size: 2rem;
	color: #333;
	transition: all 0.3s ease-in-out;
}

.footer-social i:hover {
	color: #f00;
}

.footer-book .btn {
	font-size: 1.2rem;
	padding: 10px 20px;
	background-color: #f00;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.footer-book .btn:hover {
	background-color: #fff;
	color: #f00;
}

@media screen and (max-width: 767px) {
	/* Center the elements vertically and horizontally when the screen width is below 768px */
	footer {
		flex-direction: column;
		align-items: center;
	}
	.footer-info, .footer-social, .footer-book {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer-info h3 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
	.footer-info p {
		font-size: 1rem;
		margin-bottom: 5px;
	}
	.footer-social a {
		margin-right: 10px;
	}
	.footer-social i {
		font-size: 1.5rem;
	}
	.footer-book .btn {
		font-size: 1rem;
		padding: 5px 10px;
	}
}